/* Universal Styles*/  

html,
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}


/* Header */

/* Nav */

nav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
}

#logo {
    height: 50px; 
    padding: 10px;
}

nav li{
    text-decoration: underline;
    display: inline;
    padding: 10px;
}

nav a {
    color: seashell;
}

/* Mission Section */

#mission {
    display: flex;
    align-items: center;
    background-image: url(../images/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    padding: 0;
    margin :auto;
}

.banner {
    width: 100%;
    background-color: black;
}

.banner.mission h2 {
    margin: 0;
    padding: 10px;
}

.banner.mission h4 {
    margin:0;
    padding: 10px;
}

/* Featured Section */

.featured-container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin :auto;
    padding-bottom: 80px
    
}

.banner.featured h2 {
    margin-top: 80px;
    margin-bottom: 0px;
}

.banner.featured h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.image-panel {
    padding: 0;
    margin: 15px;
}

figure {
    margin: 0;
    padding-bottom: 10px;
}

figure img {
    height: 200px;
    width: 300px;
}

figcaption {
    padding-bottom: auto;
    font-weight: bold;
}


/* Location Section */

#locations {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url(../images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    margin :auto;
    
}

#locations h2 {
    padding: 0 30px;
    margin: 0;
}
.locations-container {
    display: inline-flex;
    margin-top: 15px;
  
}

.location-panel {
    display: inline-flex;
    justify-content: space-around;
    flex-flow: column wrap;
    margin: 0 20px;
    padding: 25px 0 0 0;
    opacity: 1;
    width: 300px;
    background-color: black;
}

.location-panel * {
    margin: 0 0 35px 0;
}

/* -------------------- happy from here ---------------------- */

/* Contact Details Section */

#contact-details {
    height: 200px;
}

#contact-details h2 {
    margin-top: 0;
    padding: 10px;
}


/* Footer */

footer {
    padding: 0 20px;
    text-align: left;
}